{% block body %}
  <h2> Your notes: </h2>
  {% if notes|length > 0 %}
    {% for note in notes %}
      <p>
        {{ note.content }}
      </p>
      <p>
        {{ note.getUserId() }}
      </p>
    {% endfor %}
  {% endif %}
{% endblock %}
