{% extends 'base.html.twig' %}
{% block body %}
  {{ form_start(form) }}
      {{ form_row(form.content) }}
      {{ form_row(form.is_public) }}
      <button type="submit">Add a new note!</button>
  {{ form_end(form) }}
{% endblock %}
